<div class="pharmabox-container">

    <h2>Rimanenza Medicinali</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Codice</th>
            <th>Denominazione e Confezione</th>
            <th>Quantità</th>
            <th>Scadenza</th>
            <th>Rimanenza</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="row-toolbar">
              <fa-icon icon="trash-alt" title="Cancella farmaco"></fa-icon>
              <fa-icon icon="edit" title="Modifica farmaco"></fa-icon>
              <fa-icon icon="plus-square" title="Aggiungi confezione" (click)="add()"></fa-icon>
          </td>
            <td>44868038</td>
            <td>ABERIPRA 28x1 cpr 10 mg</td>
            <td>28 (nr)</td>
            <td>10/10/2021</td>
            <td>16</td>
          </tr>
          <tr>
            <td>44868038</td>
            <td>ACIDO TRANEXAMICO*5 fiale EV OS 500 mg 5 ml</td>
            <td>5</td>
            <td>10/10/2021</td>
            <td>2</td>
          </tr>
          <tr>
            <td>44868038</td>
            <td>ACICLOVIR*os sosp 100 ml 8% flacone</td>
            <td>100 (ml)</td>
            <td>10/10/2021</td>
            <td>75</td>
          </tr>
        </tbody>
      </table>
</div>