<header>
  <nav id="application-header" [ngStyle]="{'background-color': titleBarColor}" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/pharmabox-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pharma Box
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="'/accounts'"> Accounts </a>
            <a class="dropdown-item" [routerLink]="'/create-account'"> Create Account </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/contacts'"> Contacts </a>
            <a class="dropdown-item" [routerLink]="'/create-contact'"> Create Contact </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/leads'"> Leads </a>
            <a class="dropdown-item" [routerLink]="'/create-lead'"> Create Lead </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/opportunities'"> Opportunities </a>
            <a class="dropdown-item" [routerLink]="'/create-opportunity'"> Create Opportunity </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
      </ul>
    </div>
  </nav>

  <nav id="application-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
<!--
    <li class="breadcrumb-item active" aria-current="page">Home</li>

    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
-->
      <li *ngIf="breadcrumbItems.length==0" class="breadcrumb-item active" aria-current="page">Home</li>
      <li *ngIf="breadcrumbItems.length>0" class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>

      <li *ngFor="let item of breadcrumbItems.slice(0,-1)" class="breadcrumb-item"><a routerLink="{{item.url}}" routerLinkActive="active">{{item.label}}</a></li>
      <li *ngIf="breadcrumbItems.length>0" class="breadcrumb-item active" aria-current="page">{{breadcrumbItems.slice(-1)[0].label}}</li>
    </ol>
  </nav>
</header>

<main id="application-mainbody" role="main">
  <div class="main-container container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
